:root {
  --colorWhite: #fff;
  --colorBlack: #000;
  --colorShark: #1c1d22;
  --colorShark2: #26272d;
  --colorTuna: #37393c;
  --colorPaleLeaf: #bdd2b6;
  --colorSidecar: #f1e0ac;
  --colorJuniper: #74959a;
  --colorWoodsmoke: #141416;

  /* Alpha colors */
  /* White */
  --colorWhiteAlpha60: rgb(255, 255, 255, 0.6);

  /* Black */
  --colorBlackAlpha60: rgb(0, 0, 0, 0.6);
}
