.chatList {
  padding: 12px 0 12px;
  min-height: 0px;
  display: flex;
  flex-direction: column;

  &__header {
    padding: 0 24px;
  }

  &__title {
    margin-bottom: 12px;
  }

  &__list {
    overflow-y: auto;
    min-height: 0px;
    height: 100%;
    scrollbar-width: none;
  }
}
